.body {
  background-color: #DDDDDD;
  position: relative;
  color: black;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  height: 100%;
  max-width: 100%;
}

/* Added for to-top button*/
.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
  z-index: 10;
}

.home-video {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.home-title {
  position: absolute;
  top: calc(30vw * .5625);
  left: 0;
  margin-left: 5vw;
  text-align: center;
}

.font-big {
  color: #00B74A;
  font-size: 5vw;
  font-weight: bolder;
  text-shadow: .15rem .15rem grey;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  padding-bottom: 0;
}



.font-medium-big {
  /* color: #00dd59; */
  color: #017931;
  font-size: 2.4vw;
  padding-top: 0;
  padding-bottom: 0;
}

.hoverable{
  background-color: rgb(255, 255, 255, .7);
  transition: background-color 1s;
  color: black;
}
.hoverable:hover {
  background-color: rgb(255, 99, 71, .7);
  color: red;
}

.unformat {
  text-decoration: none;
  padding: 0;
  color: black;
}
.unformat:hover{
  text-decoration: none;
  color: black;
}

.cardShadow:hover{
  box-shadow: 5px 5px 4px grey;
  transition: box-shadow .5s;
}

.nav-links{
  padding: '.5% 2%';
  height: '100%';
  color: black;
  
}

/* Added for to-top button*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
