body {
    background-color: #e6eeff;
    color: black;
    padding: 0px;
    font-family: Arial;
    text-align: center;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

/* Added for to-top button*/
.scroll-to-top {
    position: fixed;
    bottom: 0.5rem;
    right: 0.5rem;
    animation: fadeIn 700ms ease-in-out 1s both;
    cursor: pointer;
  }

/* Added for to-top button*/
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }